.countries{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.visit-flag img{
    width: 150px;
}

.visit-flag{
    display: flex;
    justify-content: center;
    justify-self: center;
    gap: 20px;
}